{% extends "base.html" %}

{% block title %}通知一覧ページ{% endblock title %}

{% block content %}
<div class="px-3 border-bottom border-secondary bg-dark sticky-top">
  <!-- ヘッダーエリア -->
  <div class="d-flex align-items-center" style="height: 54px">
    <div style="min-width: 56px">
      <a href="{{ request.META.HTTP_REFERER }}" class="text-white">
        <i class="bi bi-arrow-left"></i>
      </a>
    </div>
    <div>
      <div class="fs-5 fw-bold">通知</div>
    </div>
  </div>
</div>

<div class="overflow-y-auto">
  <!-- 通知一覧 -->
  {% if notification_list %}
    {% for item in notification_list %}
      {% include "notifications/_notification_item.html" %}
    {% endfor %}
  {% else %}
    <div class="mt-5">
      <p class="text-center">通知は届いていません</p>
    </div>
  {% endif %}
</div>

{% endblock content %}
