{% extends "base.html" %}

{% block title %}ログイン画面{% endblock title %}

{% block content %}
<div class="container">
  <header class="d-flex align-items-center justify-content-between py-4 mb-4 border-bottom">
    <div>
      <span class="fs-4 fw-bold">ログイン画面</span>
    </div>
  </header>
  <div class="mx-auto" style="max-width: 480px;">
    <form action="{% url "accounts:login" %}" method="POST">
    {% csrf_token %}
      <div class="form-group mb-3">
        <label for="{{ form.login.id_for_label }}" class="form-label">メールアドレス</label>
        {{ form.login }}
        {% if form.login.errors %}
          <div class="text-danger">
            {% for error in form.login.errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="form-group mb-3">
        <label for="{{ form.password.id_for_label }}" class="form-label">パスワード</label>
        {{ form.password }}
        {% if form.password.errors %}
          <div class="text-danger">
            {% for error in form.password.errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <button type="submit" class="w-100 btn btn-primary">ログイン</button>
    </form>
  </div>
{% endblock content %}
