<!-- ツイートのコメントフォーム -->
<form method="POST" action="{% url "tweets:comment_create" tweet.pk %}" enctype="multipart/form-data" novalidate>
  {% csrf_token %}
  <div class="d-flex align-items-center gap-3">
    <!-- ログインユーザーのアイコン -->
    <a href="{% url "profiles:my_tweet_list" user.username %}">
      <img
        src="{{ user.icon_image_url }}"
        alt="ユーザーイメージ"
        width="40"
        height="40"
        class="rounded-circle"
      />
    </a>
    <!-- 入力エリア -->
    <div class="flex-grow-1">
      {{ form.content }}
      {% if form.content.errors %}
      <div class="text-danger">
        {% for error in form.content.errors %}
        <p>{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <!-- 送信ボタン -->
    <button type="submit" class="btn btn-light rounded-pill px-4 fw-bold text-nowrap" role="button">返信</button>
  </div>
</form>
