{% if page_obj is not None and page_obj is not None %}
  <div class="d-flex justify-content-center">
    <nav aria-label="Tweet list pages">
      <ul class="pagination">
        <!-- 最初のページへのリンク -->
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
          {% if page_obj.has_previous %}
            <!-- 前のページがあれば有効化 -->
            <a class="page-link" href="?page=1" aria-label="First">
              <span aria-hidden="true">&laquo;</span>
            </a>
          {% else %}
            <!-- 前のページがなければ非有効化 -->
            <a class="page-link" aria-label="First" aria-disabled="true">
              <span aria-hidden="true">&laquo;</span>
            </a>
          {% endif %}
        </li>

        <!-- 各ページ番号へのリンク作成 -->
        {% for page_number in page_obj.paginator.page_range %}
          <!-- 前後2ページは表示 -->
          {% if page_number >= page_obj.number|add:"-2" and page_number <= page_obj.number|add:"2" %}
            <li class="page-item {% if page_number == page_obj.number %}active{% endif %}">
              <a class="page-link" href="?page={{ page_number }}" {% if page_number == page_obj.number %}aria-current="page"{% endif %}>
                {{ page_number }}
              </a>
            </li>
          {% elif page_number == 1 or page_number == page_obj.paginator.num_pages %}
            <!-- 最初と最後のページは常に表示 -->
            <li class="page-item">
              <a class="page-link" href="?page={{ page_number }}">
                {{ page_number }}
              </a>
            </li>
          {% elif page_number == page_obj.number|add:"-3" or page_number == page_obj.number|add:"3" %}
            <!-- 範囲外のページ間には省略記号を表示 -->
            <li class="page-item disabled"><span class="page-link">…</span></li>
          {% endif %}
        {% endfor %}

        <!-- 最後のページへのリンク -->
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
          {% if page_obj.has_next %}
            <!-- 次のページがあれば有効化 -->
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
              <span aria-hidden="true">&raquo;</span>
            </a>
          {% else %}
            <!-- 次のページがなければ非有効化 -->
            <a class="page-link" aria-label="last" aria-disabled="true">
              <span aria-hidden="true">&raquo;</span>
            </a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
{% endif %}
