<div class="pb-3 border-bottom border-secondary">
  <div class="d-flex pt-2 mb-3">
    <!-- プロフィール画像 -->
    <a href="{% url 'profiles:my_tweet_list' tweet.user.username %}">
      <img
        src="{{ tweet.user.icon_image_url }}"
        alt="ユーザーイメージ"
        width="40"
        height="40"
        class="rounded-circle me-2"
      />
    </a>
    <!-- プロフィール名など -->
    <div class="flex-grow-1">
      <div class="d-flex justify-content-between align-items-start">
        <div>
          <span class="fw-bold d-block">{{ tweet.user.display_name }}</span>
          <span class="text-secondary">@{{ tweet.user.username }}</span>
        </div>
        <div>
          <i class="bi bi-three-dots"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- ツイート本文 -->
  <div>
    <p>{{ tweet.content }}</p>
    <!-- 投稿画像があれば表示 -->
    {% if tweet.resized_image_url %}
      <div class="mb-3">
        <img
          src="{{ tweet.resized_image_url }}"
          alt="投稿画像"
        />
      </div>
    {% endif %}
    <div class="text-secondary fs-6">{{ tweet.created_at|date:"Y年n月j日・g:i" }}</div>
  </div>
</div>
