<div class="px-3 py-2 border-bottom border-secondary position-relative">
  <!-- ツイート全体のリンク -->
  <a href="{% url "tweets:tweet_detail" tweet.pk %}" class="stretched-link"></a>

  <div class="d-flex">
    <!-- プロフィールへのリンク -->
    <a href="{% url "profiles:my_tweet_list" tweet.user.username %}" class="position-relative z-2">
      <img
        src="{{ tweet.user.icon_image_url }}"
        alt="ユーザーイメージ"
        width="40"
        height="40"
        class="rounded-circle me-2"
      />
    </a>
    <div class="flex-grow-1">
      <div class="d-flex align-items-start justify-content-between">
        <div class="d-flex align-items-center gap-1">
          <div class="fw-bold">{{ tweet.user.display_name }}</div>
          <small class="text-secondary">
            @{{ tweet.user.username }}・{{ tweet.created_at|date:"m月d日 H:i" }}
          </small>
        </div>
        <div class="btn-group z-2">
          <button class="btn text-white" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
            <i class="bi bi-three-dots"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            {% if tweet.user == user %}
              <!-- 自分のツイートの場合 -->
              <li>
                <button class="dropdown-item">TODO：ツイート削除</button>
              </li>
            {% else %}
              <!-- 他のユーザーのツイートの場合 -->
              <li>
                <form method="POST" action="{% url 'accounts:follow_toggle' %}">
                  {% csrf_token %}
                  <input type="hidden" name="user_id" value="{{ tweet.user.id }}" />
                  <!-- フォロー状態に応じて表示切り替え -->
                  {% if tweet.user.is_followed_by_user %}
                    <button class="dropdown-item">
                      {{ tweet.user.username }}さんのフォロー解除
                    </button>
                  {% else %}
                    <button class="dropdown-item">
                      {{ tweet.user.username }}さんをフォロー
                    </button>
                  {% endif %}
                </form>
              <li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div>{{ tweet.content }}</div>
      <!-- 投稿画像があれば表示 -->
      {% if tweet.resized_image_url %}
        <img src="{{ tweet.resized_image_url }}" alt="投稿画像}">
      {% endif %}

      <!-- アイコンエリア -->
      <div class="p-2 pb-0">
        {% include "tweets/_tweet_action_icons.html" %}
      </div>
    </div>
  </div>
</div>
