<div class="px-3 py-2 border-bottom border-secondary position-relative">
  <!-- ツイート全体のリンク -->
  <a href="{% url "tweets:tweet_detail" tweet.pk %}" class="stretched-link"></a>

  <div class="d-flex align-items-start">
    <!-- プロフィールへのリンク -->
    <a href="{% url "profiles:my_tweet_list" tweet.user.username %}" class="position-relative z-2">
      <img
        src="{{ tweet.user.icon_image_url }}"
        alt="ユーザーイメージ"
        width="40"
        height="40"
        class="rounded-circle me-2"
      />
    </a>
    <div class="flex-grow-1">
      <div class="d-flex align-items-center gap-1">
        <div class="fw-bold">{{ tweet.user.display_name }}</div>
        <small class="text-secondary">
          @{{ tweet.user.username }}・{{ tweet.created_at|date:"m月d日 H:i" }}
        </small>
      </div>
      <div>{{ tweet.content }}</div>
      <!-- 投稿画像があれば表示 -->
      {% if tweet.resized_image_url %}
        <img src="{{ tweet.resized_image_url }}" alt="投稿画像}">
      {% endif %}

      <!-- アイコンエリア -->
      <div class="p-2 pb-0">
        {% include "tweets/_tweet_action_icons.html" with tweet_is_liked_by_user=tweet.is_liked_by_user %}
      </div>
    </div>
  </div>
</div>
