{% extends "base.html" %}

{% block title %}ツイート詳細ページ{% endblock title %}

{% block content %}
<div class="px-3 border-bottom border-secondary">
  <!-- ヘッダーエリア -->
  <div class="d-flex align-items-center" style="height: 54px">
    <div style="min-width: 56px">
      <a href="{{ request.META.HTTP_REFERER }}" class="text-white">
        <i class="bi bi-arrow-left"></i>
      </a>
    </div>
    <div>
      <div class="fs-5 fw-bold">ツイート</div>
    </div>
  </div>

  <!-- ツイート詳細 -->
  {% include "tweets/_tweet_detail.html" %}

  <!-- アイコンエリア -->
  <div class="border-bottom border-secondary p-2">
    {% include "tweets/_tweet_action_icons.html" %}
  </div>

  <!-- コメントフォームエリア -->
  <div class="py-3">
    {% include "tweets/_commentform.html" %}
  </div>
</div>

<!-- コメント一覧エリア -->
<div>
  {% for comment in tweet.comments.all %}
    {% include "tweets/_comment.html" %}
  {% endfor %}
</div>
{% endblock content %}
