{% extends "base.html" %}

{% block title %}フォロー中のツイート一覧{% endblock title %}

{% block content %}
<div class="p-1 border-bottom border-secondary bg-dark sticky-top">
  {% include "tweets/_tabs.html" %}
</div>
<div class="p-3 pb-2 border-bottom border-secondary">
  {% include "tweets/_tweetform.html" %}
</div>

<!-- ツイート一覧 -->
<div class="overflow-y-auto">
  {% if tweet_list %}
    {% for tweet in tweet_list  %}
      {% include "tweets/_tweet.html" %}
    {% endfor %}
    <!-- ページネーション -->
    <div class="mt-3">
      {% include "_pagenation.html" %}
    </div>
  {% else %}
    <div class="mt-5">
      <p class="text-center">ツイートは存在しません</p>
    </div>
  {% endif %}
</div>
{% endblock content %}
