{% extends "base.html" %}

{% block title %}メッセージ部屋ページ{% endblock title %}

{% block content %}
<div class="px-3 border-bottom border-secondary">
  <!-- ヘッダーエリア -->
  <div class="d-flex align-items-center" style="height: 54px">
    <div style="min-width: 56px">
      <a href="{% url "direct_messages:message_list" %}" class="text-white">
        <i class="bi bi-arrow-left"></i>
      </a>
    </div>
    <div>
      <div class="fs-5 fw-bold">{{ follower.display_name }}</div>
    </div>
  </div>
</div>

<div class="px-3 mh-100 overflow-y-auto border-bottom border-secondary">
  <!-- ユーザー詳細 -->
  <div class="border-bottom border-secondary position-relative" style="height: 300px;">
    {% include "direct_messages/_follower_info.html" %}
  </div>

  <!-- メッセージエリア -->
  <div style="height: 500px;">
    ここにメッセージを表示します。
  </div>
</div>

<!-- コメントフォームエリア -->
<div>
  {% include "direct_messages/_messageform.html" %}
</div>


{% endblock content %}
