<div class="d-flex flex-column gap-3">
  <form>
    <input type="text" class="form-control rounded-5" placeholder="検索" />
  </form>
  <div class="border border-secondary rounded" style="height: 100px">
    <div class="h5 p-2 fw-bold">プレミアムを今すぐ無料で試す</div>
  </div>
  <div class="border border-secondary rounded" style="height: 200px">
    <div class="h5 p-2 fw-bold">「いま」を見つけよう</div>
  </div>
  <div class="border border-secondary rounded" style="height: 400px">
    <div class="h5 p-2 fw-bold">おすすめユーザー</div>
  </div>
</div>
