{% load humanize %}

<div class="d-flex align-items-center px-3 bg-dark border-bottom border-secondary">
  <div style="min-width: 56px">
    <a href="{{ request.META.HTTP_REFERER }}" class="text-white">
      <i class="bi bi-arrow-left"></i>
    </a>
  </div>
  <div>
    <div class="fs-5 fw-bold">
      {% if user_profile.name %}
        {{ user_profile.name }}
      {% else %}
        {{ user_profile.username }}
      {% endif %}
    </div>
    <div class="text-secondary">
      <span class="me-1">{{ user_profile.tweets.count|intcomma }}</span>件のツイート
    </div>
  </div>
</div>
