<ul class="nav text-center">
  <li class="nav-item flex-fill">
    <a class="nav-link text-white" href="{% url "profiles:my_tweet_list" user.username %}">ツイート</a>
  </li>
  <li class="nav-item flex-fill">
    <a class="nav-link text-white" href="{% url "profiles:liked_tweet_list" user.username %}">いいね</a>
  </li>
  <li class="nav-item flex-fill">
    <a class="nav-link text-white" href="{% url "profiles:retweeted_tweet_list" user.username %}">リツイート</a>
  </li>
  <li class="nav-item flex-fill">
    <a class="nav-link text-white" href="{% url "profiles:commented_tweet_list" user.username %}">コメント</a>
  </li>
</ul>
