{% extends "base.html" %}

{% block title %}プロフィールページ{% endblock title %}

{% block content %}
<div>
  <!-- プロフィールヘッダー -->
  <div class="d-flex align-items-center px-3">
    <div style="min-width: 56px">
      <a href="{{request.META.HTTP_REFERER}}" class="text-white">
        <i class="bi bi-arrow-left"></i>
      </a>
    </div>
    <div>
      <div class="fs-5 fw-bold">{{ user_profile.username }}</div>
      <div class="text-secondary">
        <span class="me-1">{{ user_profile.tweets.count }}</span>件のツイート
      </div>
    </div>
  </div>
  <!-- ヘッダー画像 -->
  <div class="border-top border-bottom border-secondary">
    <img
      src={{ user_profile.header_image.url }}
      class="img-fluid"
      alt="ヘッダー画像"
    >
  </div>
  <!-- プロフィール内容 -->
  <div class="px-3 pt-2 mb-4">
    <div class="d-flex">
      <a href="#" class="btn btn-dark border border-secondary rounded-pill fw-bold px-3 ms-auto" role="button">プロフィールを編集</a>
    </div>
    <div>
      <div class="mb-3">
        <div class="fs-4 fw-bold">{{ user_profile.username }}</div>
        <div class="text-secondary">@{{ user_profile.username }}</div>
      </div>
      <div class="mb-3">
        石川県の金沢市に住んでいます。<br>
        モダンな自社開発会社のWebエンジニアになりたいです。<br>
        皆さん仲良くして下さい。
      </div>
      <div class="mb-3 text-secondary">
        <div class="d-flex flex-wrap gap-2">
          <div>
            <i class="bi bi-geo-alt"></i>
            <span>石川 金沢市</span>
          </div>
          <div>
            <i class="bi bi-link-45deg"></i>
            <a href="https://github.com/otaki0413">github.com/otaki0413</a>
          </div>
          <div>
            <i class="bi bi-balloon"></i>
            <span>誕生日: 1998年4月13日</span>
          </div>
          <div>
            <i class="bi bi-calendar3"></i>
            <span>2024年4月からTwitterを利用しています</span>
          </div>
        </div>
      </div>
      <div class="d-flex gap-3 text-secondary">
        <div><span class="fw-bold text-white me-1">311</span>フォロー中</div>
        <div><span class="fw-bold text-white me-1">311</span>フォロワー</div>
      </div>
    </div>
  </div>
  <!-- タブ -->
  <div class="p-1 border-bottom border-secondary">
    {% include "profiles/_tabs.html" %}
  </div>
  {% comment %} <div>
    {% for tweet in tweet_list  %}
      {% include "profiles/_tweet.html"t %}
    {% endfor %}
  </div> {% endcomment %}
</div>
{% endblock %}
